@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100px;
  padding:50px;
  background-color: #B2D5FC;
}

.bg{
   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
   url(https://img.freepik.com/free-vector/metro-downtown-element-town-area_1308-1114.jpg) ;
  width: 30%;
  height: 100vh;
  background-size: cover;
  background-position: 900px;
  filter: brightness(100px);
}
.bg-color-rightSide{
 background-color:  #E4F1FF;
}
